{% extends "base.html" %}
{% block title %}Edit_account_name Page{% endblock %}
{% block header_right %}
    <div class="header-btn"><a href="{% url 'accounts:my_account' %}">←戻る</a></div>
{% endblock %}
{% block content %}
    <div class="page-title">アカウント名変更</div>

    <form method="POST" class="edit-form">
        {% csrf_token %}
        <label for="id_name" class="form-label">アカウント名</label>
        {{ edit_name_form.name }}
        <input type="submit" value="保存" class="save-btn">
    </form>
{% endblock %}
{% block footer %}{% endblock %}