{% extends "base.html" %}
{% block title %}Edit_account_email Page{% endblock %}
{% block header_right %}
    <div class="header-btn"><a href="{% url 'accounts:my_account' %}">←戻る</a></div>
{% endblock %}
{% block content %}
    <div class="page-title">メールアドレス変更</div>

    {% if messages %}
        {% for msg in messages %}
            <p class="err_msg">{{ msg }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST" class="edit-form">
        {% csrf_token %}
        <label for="id_email" class="form-label">メールアドレス</label>
        {{ edit_email_form.email }}        
        <label for="id_email_confirm" class="form-label">メールアドレス(確認用)</label>
        {{ edit_email_form.email_confirm }}        
        <input type="submit" value="保存" class="save-btn">    
    </form>
{% endblock %}
{% block footer %}{% endblock %}

