{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
{% endblock %}
{% block title %}my_condition_set Page{% endblock %}
{% block header_right %}
    <button class="header-btn"><a href="{% url 'tasks:task_list' %}" >←戻る</a></button>
{% endblock %}

{% block content %}

    <div class="page-title">保存状況管理</div>

    <ul class="condition-set-list">
        {% for set in condition_set_list %}
            <li class="condition-set-row">

                <div class="set-left">
                    <p class="set-name">[{{ set.name }}]</p>

                    <div class="set-contents">
                        {% for item in set.condition_set_items.all %}
                            <button type="button" class="condition-btn display-only">
                                {{ item.condition.name }}
                            </button>
                        {% endfor %}
                    </div>
                </div>

                <a class="edit-set" href="{% url 'accounts:edit_condition_set' set.pk %}">
                    ＞
                </a>

            </li>
        {% empty %}
            <div class="empty-message">よく使う状況を保存すると便利です</div>
        {% endfor %}
    </ul>

    <button class="add-bottom">
        <a href="{% url 'accounts:add_condition_set' %}">+追加</a>
    </button>

        <script>
        // 戻るボタンを押した時
        document.getElementById('headerBackBtn').addEventListener('click', () => {
            if (history.length > 1) {
            // 1つ前のページに戻る（ブラウザの戻ると同じ）
            history.back();
            } else {
                // 履歴がないときだけホームへ
                window.location.href = '/accounts/home/';
            }
        });
        </script>

{% endblock %}

{% block footer %} {{ block.super }} {% endblock %}