{% extends "base.html" %}
{% block title %}my_condition_set Page{% endblock %}
{% block header_right %}
    <a href="{% url 'tasks:add_task' %}" style="font-size:20px; text-decoration:none;"><h1>＋</h1></a>
{% endblock %}

{% block content %}
        <style>
        .display-only {
            pointer-events: none;   /* クリック不可 */
            cursor: default;        /* カーソルが変わらない */
        }
        </style>


    <h1>保存状況管理</h1>
    <ul>
        {% for set in condition_set_list %}
            <div class="set_name">
                <p>[{{ set.name }}]</p>
            </div>
            <div class="set_contents">
                {% for item in set.condition_set_items.all %}
                    <button type="button" class="set_item display-only">{{ item.condition.name }}</button>
                {% endfor %}
            </div>
        {% empty %}
            <li>よく使う状況を保存すると便利です</li>
        {% endfor %}
    </ul>
    <button class="add-bottom">
        <a href="{% url 'accounts:add_condition_set' %}">+追加</a>
    </button>
    
{% endblock %}

{% block footer %} {{ block.super }} {% endblock %}