{% extends "base.html" %}
{% block title %}my_condition_set Page{% endblock %}
{% block header_right %}
    <a href="{% url 'tasks:add_task' %}" style="font-size:20px; text-decoration:none;"><h1>＋</h1></a>
{% endblock %}

{% block content %}
        <style>
        .condition-set-row {
            display: flex;
            padding: 6px 0;
            border-bottom: 1px solid #eee;
        }
        .set_contents {
            width: 90%;
            padding-left: 0rem;
        }
        .edit_set {
            width: 10%;
            padding-right: 0rem;
            color: #999;
        }

        .display-only {
            pointer-events: none;   /* クリック不可 */
            cursor: default;        /* カーソルが変わらない */
        }
        </style>


    <h1>保存状況管理</h1>
    <ul>
        {% for set in condition_set_list %}
            <div class="set_name">
                <p>[{{ set.name }}]</p>
            </div>
            <li class="condition-set-row">
                <div class="set_contents">
                    {% for item in set.condition_set_items.all %}
                        <button type="button" class="set_item display-only">{{ item.condition.name }}</button>
                    {% endfor %}
                </div>
                <!-- 編集ページ遷移 -->
                <div class="edit_set">
                    <a href="{% url 'accounts:edit_condition_set' set.pk %}">＞</a>
                </div>
            </li>
        {% empty %}
            <li>よく使う状況を保存すると便利です</li>
        {% endfor %}
    </ul>
    <button class="add-bottom">
        <a href="{% url 'accounts:add_condition_set' %}">+追加</a>
    </button>

{% endblock %}

{% block footer %} {{ block.super }} {% endblock %}