{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
{% endblock %}
{% block title %}Password_reset Page{% endblock %}
{% block header_right %}{% endblock %}
{% block content %}
    <div class="page-title">パスワードリセット</div>

    <div class="page-title">パスワード変更が完了しました</div>

    <div class="reset-container">
        <p class="reset-message">
            新しいパスワードでログインしてください。
        </p>

        <p class="reset-login-link">
            → <a href="{% url 'accounts:login' %}">ログイン</a>
        </p>
    </div>

{% endblock %}
{% block footer %}{% endblock %}