{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
{% endblock %}
{% block title %}Password_reset Page{% endblock %}
{% block header_right %}{% endblock %}
{% block content %}

    <div class="page-title">パスワードリセット</div>

    <div class="reset-container">
        <h2 class="reset-invalid-title">このパスワードリセットURLは無効です</h2>

        <p class="reset-invalid-message">
            再度パスワードリセットを行ってください。
        </p>

        <p class="reset-login-link">
            → <a href="{% url 'accounts:password_reset' %}">パスワードリセットへ戻る</a>
        </p>
    </div>

{% endblock %}
{% block footer %}{% endblock %}