{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
{% endblock %}
{% block title %}Password_reset Page{% endblock %}
{% block header_right %}{% endblock %}
{% block content %}
    <div class="page-title">パスワードリセット</div>

    <div class="reset-container">
        <p>登録済みのメールアドレスを入力してください</p>

        {% if error %}
            <p style="color:red; font-weight:bold;">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form.as_p }}

            <p>メールアドレスへパスワードリセット用のメールを送ります</p>

            <input type="submit" value="送信">
        </form>
    </div>
    
{% endblock %}
{% block footer %}{% endblock %}