{% extends "base.html" %}
{% block title %}Password_reset Page{% endblock %}
{% block header_right %}{% endblock %}
{% block content %}
    <h1>パスワードリセット</h1><br>
    <p>登録済みのメールアドレスを入力してください</p>
    {% if error %}
        <p style="color:red; font-weight:bold;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form.as_p }}
        <p>メールアドレスへパスワードリセット用のメールを送ります</p>
        <input type="submit" value="送信">
    </form>
{% endblock %}
{% block footer %}{% endblock %}