{% extends "base.html" %}
{% block title %}Task_list Page{% endblock %}
{% block header_right %}
    <a href="{% url 'tasks:add_task' %}" style="font-size:20px; text-decoration:none;"><h1>＋</h></a>
{% endblock %}

{% block content %}
        <style>
        /* 1行目のみインデント (1文字分) */
        .parent_task {
            padding-left: 0rem;
        }

        /* ブロックの左側全体をインデント */
        .sub_task {
            padding-left: 2rem;
        }
        </style>


    <h1>タスク一覧</h1>
    <ul>
        {% for task in task_list %}
            {% if task.parent_task_id == NULL %}
            <div class="parent_task">
                <li><a href="{% url 'tasks:task_detail' task.pk %}">{{ task.name }}</a></li> 
            </div>
            {% else %}
            <div class="sub_task">
                <li><a href="{% url 'tasks:task_detail' task.pk %}">{{ task.name }}</a></li> 
            </div>
            {% endif %}
        {% empty %}
            <li>タスクを追加してみましょう</li>
        {% endfor %}
    </ul>

{% endblock %}

{% block footer %} {{ block.super }} {% endblock %}